* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* tüm elementlerin kutu modelini border-box yapar */
    font-family: 'Times New Roman', Times, serif;
}

img {
    display: block;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
    width: 350px;
}

.main-container {
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 10px;
}

.search{
    background-color: #EEEEEE;
    margin-left: auto;
    margin-right: auto;
    width: 89%;
    height: 60px;
    text-align: center;
}

#g-search {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
}

.GS-btn, .FL-btn {
    height: 22px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.cards-container {
    display: flex; /*yan yana dizmek için flex kullandık*/
    /*justify-content: center; /*ortalamak için*/
    gap: 2px; /*kartlar arasına boşluk*/
    margin-top: 3px;
    text-align: center;
}

.special-card, .Help-card, .Get-G-card {
    flex:1; /*kartların eşit genişlikte olmasını sağlar*/
}
.special-card {
    background-color: #7EE5DA;
    width: 35%;
    padding: 10px;
}

.Help-card {
    background-color: #70CCC2;
    width: 19%;
    padding: 10px;
    font-size: small;
}

.Get-G-card {
    background-color: #5BAAA3;
    width: 35%;
    padding: 2px;
    font-size: small;
}

#email {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: small;
}